/* make right sided elements sticky on post.php page */
.body--ass #post-body-content {
  float: none;
  margin-bottom: 40px;
}

.body--ass #postbox-container-1 {
  position: sticky;
  top: 50px; /* overwritten in js */
  right: 20px;
  z-index: 1;

  margin-top: -92px; /* overwritten in js */
  margin-left: auto;

  height: 0;

  transition: top 0.2s;
}

.body--ass #postbox-container-2 {
  float: none;
}

.body--ass #postbox-container-2 .inside {
  display: inline-block;

  width: 100%;
}

.body--ass .columns-1 #postbox-container-1 {
  margin-top: 0 !important; /* overwritten in js */

  height: auto;
}

.body--ass .columns-1 #postbox-container-2 {
  float: left;
}

@media (max-width: 1200px) {
  .body--ass .post-type-attachment #postbox-container-1 {
    margin-top: 0 !important;

    height: auto;
  }
}

@media (max-width: 850px) {
  .body--ass #postbox-container-1 {
    margin-top: 0 !important;

    height: auto;
  }

  .body--ass #postbox-container-2 {
    float: left;
  }
}
